{% extends "Edge5FrontendBundle::layout.html.twig" %}

{% block content %}

<div class="site-container">
	<div class="site-content">
		<div class="l-site-width">
			<div class="l-row l-row-gap l-row-gap-above l-row-gutter">

				{# col-1 #}
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>

				{# col-2 #}
				<div class="l-column l-column-2">
					<div class="box">l-column-2</div>
				</div>
				<div class="l-column l-column-2">
					<div class="box">l-column-2</div>
				</div>
				<div class="l-column l-column-2">
					<div class="box">l-column-2</div>
				</div>
				<div class="l-column l-column-2">
					<div class="box">l-column-2</div>
				</div>
				<div class="l-column l-column-2">
					<div class="box">l-column-2</div>
				</div>
				<div class="l-column l-column-2">
					<div class="box">l-column-2</div>
				</div>

				{# col-3 #}
				<div class="l-column l-column-3">
					<div class="box">l-column-3</div>
				</div>
				<div class="l-column l-column-3">
					<div class="box">l-column-3</div>
				</div>
				<div class="l-column l-column-3">
					<div class="box">l-column-3</div>
				</div>
				<div class="l-column l-column-3">
					<div class="box">l-column-3</div>
				</div>

				{# col-4 #}
				<div class="l-column l-column-4">
					<div class="box">l-column-4</div>
				</div>
				<div class="l-column l-column-4">
					<div class="box">l-column-4</div>
				</div>
				<div class="l-column l-column-4">
					<div class="box">l-column-4</div>
				</div>

				{# col-5 #}
				<div class="l-column l-column-5">
					<div class="box">l-column-5</div>
				</div>
				<div class="l-column l-column-2">
					<div class="box">l-column-2</div>
				</div>
				<div class="l-column l-column-5">
					<div class="box">l-column-5</div>
				</div>

				{# col-6 #}
				<div class="l-column l-column-6">
					<div class="box">l-column-6</div>
				</div>
				<div class="l-column l-column-6">
					<div class="box">l-column-6</div>
				</div>

				{# col-7 #}
				<div class="l-column l-column-7">
					<div class="box">l-column-7</div>
				</div>
				<div class="l-column l-column-5">
					<div class="box">l-column-5</div>
				</div>

				{# col-8 #}
				<div class="l-column l-column-8">
					<div class="box">l-column-8</div>
				</div>
				<div class="l-column l-column-4">
					<div class="box">l-column-4</div>
				</div>

				{# col-9 #}
				<div class="l-column l-column-9">
					<div class="box">l-column-9</div>
				</div>
				<div class="l-column l-column-3">
					<div class="box">l-column-3</div>
				</div>

				{# col-10 #}
				<div class="l-column l-column-10">
					<div class="box">l-column-10</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>

				{# col-11 #}
				<div class="l-column l-column-11">
					<div class="box">l-column-11</div>
				</div>
				<div class="l-column l-column-1">
					<div class="box">l-column-1</div>
				</div>

				{# col-12 #}
				<div class="l-column l-column-12 l-column-mobile-12">
					<div class="box">l-column-12</div>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}
